.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: 0;
    padding: 0 0;
    cursor: pointer;
    &--icon-burger {
        background-image: url();
        background-repeat: no-repeat;
        background-position: center;
        margin: auto 16px;
    }
}