.main-button-container {
    display: none;
    button {
        border: 0;
        background-color: inherit;
        padding: 0;
        margin-right: 32px;

        display: flex;
        align-items: center;
        cursor: pointer;
    }
    p {
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $text-color;

        margin-right: 8px;
    }
    .button {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1120px) {
    .main-button-container {
        display: flex;
        align-items: center;
    }
}